.menu {
    display: flex;
    align-items: center;
}

.link {
    color: #323232;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #323232;
    margin-left: 20px;

    &:hover,
    &:focus {
        color: #E97F03;
    }

    svg path {
        fill: #323232;        
    }

    &:hover svg path,
    &:focus svg path {
        fill: #E97F03;
    }
}