.addButton {
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin-right: 16px;
    color: #ffffff;
    background-color: #E97F03;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -khtml-border-radius: 10px;
    -ms-border-radius: 10px;

    @media (max-width: 852.99px) {
        margin-left: auto;
        margin-right: 0;
        margin-top: auto;
        order: 1;
        height: 40px;
    }

    &:hover,
    &:focus {
        background-color: #E99330;
    }
}


