.item {
    box-sizing: border-box;
    width: 220px;
    height: 272px;
    margin: 0 8px 16px 8px;  
    padding: 30px 16px 16px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -khtml-border-radius: 10px;
    -ms-border-radius: 10px;

    position: relative;

    &:hover,
    &:focus {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        background-color: #f2f2f2;
    }

    @media (max-width: 536.99px) {
        width: 155px; 
    }
    
}

.img {
    display: block;
    margin: 0 auto;
}

.header {
    color: #323232;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
}

.price {
    color: #545454;
    text-align: center;
}

.favoriteBtn {
    position: absolute;
    top: 8px;
    right: 8px;  
}
